---
blog_title: Jblanche.fr

full_url: "http://jblanche.fr"
disqus_short_name: jblanchefr

google_analytics_tracking_id:
body_id: home
---

!!! 5
%html
  %head
    %title #{page.blog_title} :: #{page.title} - Jonathan Blanchet's Website
    - if page.respond_to? :description
      %meta(name="description" content="#{page.description}")/
    - else
      %meta(name="description"  content="Jblanche.fr est le site d'un freelance concepteur & développeur passionné par le web en général, les frameworks, l'ergonomie, les nouvelles technologies... Bienvenue ! ")
    - if page.respond_to? :keywords
      %meta(name="keywords" content="#{page.keywords}")/
    %meta{:charset => "utf-8"}

    - if page.respond_to? :title
      %meta(property="og:title"  content="#{page.blog_title} :: #{page.title} - Jonathan Blanchet's Website")
    - else
      %meta(property="og:title"  content="Jonathan Blanchet's Website")

    - if page.respond_to? :og_type
      %meta(property="og:type" content="#{page.og_type}")
    - else
      %meta(property="og:type" content="article")

  
    - if page.respond_to? :url
      %meta(property="og:url" content="#{page.full_url}#{page.url}")
    - elsif page.respond_to? :permalink
      %meta(property="og:url" content="#{page.full_url}#{page.permalink}")

    - if page.respond_to? :og_image
      %meta(property="og:image" content="#{page.og_image}")
    - else
      %meta(property="og:image" content="#{ "http://jblanche.fr/images/logo_site_big.png"   }")

    - if page.respond_to? :description
      %meta(property="og:description" content="#{page.description}")
    - else 
      %meta(property="og:description" content="Jblanche.fr est le site d'un freelance concepteur & développeur passionné par le web en général, les frameworks, l'ergonomie, les nouvelles technologies... Bienvenue ! ")

    %meta(property="og:site_name" content="Jbanche.fr")
    %meta(property="og:email" content="contact@jblanche.fr")
    %meta(property="og:phone_number" content="+33679205730")
    %meta(property="og:latitude" content="48.8145772")
    %meta(property="og:longitude" content="2.3983726")
    %meta(property="og:street-address" content="68 boulevard de Brandebourg")
    %meta(property="og:locality" content="Ivry sur Seine")
    %meta(property="og:region" content="Ile de France")
    %meta(property="og:postal-code" content="94200")
    %meta(property="og:country-name" content="France")

    %link(href="/images/favicon.jpg" rel="icon" type="image/png")  
    %link(href="/atom.xml" rel="alternate" title="#{page.blog_title}" type="application/atom+xml")  
    %link(href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css")
    %link(href="/stylesheets/jquery.gritter.css" media="screen, projection" rel="stylesheet" type="text/css")
    %script{:type => "text/javascript", :src  => "/javascripts/jquery-1.3.2.min.js"}
    %script{:type => "text/javascript", :src  => "/javascripts/main.js"}
    /[if lte IE 8]
      %script{:type => "text/javascript", :src  => "/javascripts/html5.js"}

  %body(id="#{(page.respond_to?(:body_id) ? page.body_id : nil)}")
    %header
      %nav
        %ul
          %li{:class => "#{'active' if page.title == 'Accueil'}"}
            %a(href="/") Accueil
          %li{:class => "#{'active' if page.title == 'Blog'}"} 
            %a(href="/blog.html") Blog
          %li{:class => "#{'active' if page.title == 'Microblogging'}"} 
            %a(href="/microblogging.html") Microblogging
          %li{:class => "#{'active' if page.title == 'Archives'}"} 
            %a(href="/archives.html") Archives
          %li
            %a(href="/atom.xml") Subscribe
          %li{:class => "#{'active' if page.title == 'Contact'}"} 
            %a(href="/contact.html") Contact

      %div
        %a.title(href="/")
          %img(src="/images/logo_site_big.png")
          %h1= page.blog_title
        %blockquote
          Jblanche.fr est le site d'un freelance concepteur <span class="ampersand">&</span> développeur passionné par le web en général, les frameworks, l'ergonomie, les nouvelles technologies... Bienvenue !
          %cite Jonathan Blanchet

    #page
      #main
        - if page.respond_to? :date
          .blog
            %article{:class => "#{page.categories.first}-article"}
              .article-content
                %a{:rel => "bookmark"}
                  %abbr{:title => Date::MONTHNAMES[page.date.month]}= Date::ABBR_MONTHNAMES[page.date.month]
                  = "%.2d" % page.date.day
                  %sup= ordinalize(page.date.day)
                  %abbr{:title => page.date.year}= "'" + ("%.2d" % (page.date.year.to_i-2000))
                  %time{:datetime => page.date.strftime("%Y-%m-%d")}= page.date.strftime("%Y-%m-%d")
              
                %h1= page.title
                  
                = rp(content)
                %ul.tags
                  - page.tags.each do |tag|
                    %li= tag
                - if page.respond_to? :disqus_short_name
                  #disqus_thread
                  :javascript
                    var disqus_url = "#{page.full_url}#{page.url}";
                  %noscript
                    %a(href="http://#{page.disqus_short_name}.disqus.com/?url=ref") View the discussion thread
                  %script(type="text/javascript" src="http://disqus.com/forums/#{page.disqus_short_name}/embed.js")
                
            
        - else
          = rp(content)
    %footer
      Copyright &copy; #{Time.now.strftime('%Y')} - #{page.blog_title} -
      %span.credit Powered by <a href="http://octopress.org">Octopress</a>
      - if page.respond_to? :disqus_short_name
        //Disqus Comments code
        :javascript
          (function() {
              var links = document.getElementsByTagName('a');
              var query = '?';
              for(var i = 0; i < links.length; i++) {
                if(links[i].href.indexOf('#disqus_thread') >= 0) {
                  query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
                }
              }
              document.write('<script charset="utf-8" type="text/javascript" src="http://disqus.com/forums/#{page.disqus_short_name}/get_num_replies.js' + query + '"></' + 'script>');
            })();
