---
layout: default
title: Archives
---

%section#archives
  %h2 Archives
  - posts = site.posts.reverse.group_by { |p| p.date.strftime("%Y-%m") }
  - posts.keys.each do |month|
    %h3= month
    %ul
      - posts[month].each do |post|
        %li(class="#{(post.data['link'] ? "link" : nil )}")
          %span.pubdate= post.date.strftime("%d %b, %Y")
          = link_to(post.title, post.url)
          %span.tags= " #{post.tags.map{|t| %(##{t})}.join(', ')}" unless post.tags.blank?
